<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <a href="" class="btn btn-success">GrassCase</a>
                <p><small> © Copyright 2021 </small></p>
            </div>
        </div>

        <div class="col">
            <div class="card-columns">
                Социальные сети:
                <a href="" class="ml-3"> <img src="" alt="vkontakte" width="50" height="50"></a>
                <a href="" class="ml-3"> <img src="" alt="instagram" width="50" height="50"></a>
                <a href="" class="ml-3"> <img src="" alt="facebook" width="50" height="50"></a>

            </div>
        </div>
    </div>
</div>