{% extends "base.html" %}
{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                {% load static %}
                <img class="d-block w-100" src="{% static 'tst.jpg' %}?auto=yes&bg=777&fg=555&text=First slide"
                     alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'tst.jpg' %}?auto=yes&bg=666&fg=444&text=Second slide"
                     alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'tst.jpg' %}?auto=yes&bg=555&fg=333&text=Third slide"
                     alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <table>
        <tr>
            <td>
                <a href="#">
                    <div class="card">
                        <img src="{% static 'tst1.jpg' %}"
                             width="350"
                             height="350"
                             alt="Товар">
                        <h4 align="center">some category </h4>
                    </div>
                </a>
            </td>

        </tr>

    </table>
    <p>{{ cum }}</p>

{% endblock %}
